{% extends "base.html" %}

{% block content %}
<h1>Work Experience</h1>

<div class="card">
    <h3>Summer Training – BSNL</h3>
    <p>June 2025</p>
    <ul>
        <li>Studied GSM architecture (BTS, BSC, MSC)</li>
        <li>Learned modulation techniques</li>
        <li>Explored optical fiber communication</li>
        <li>Understood telecommunication systems</li>
    </ul>
</div>

<div class="card">
    <h3>Google Cloud Arcade Program</h3>
    <p>July 2024 – Present</p>
    <ul>
        <li>Hands-on labs on GCP</li>
        <li>Cloud computing & virtualization</li>
        <li>Deployment & cloud services</li>
        <li>Real-world cloud solutions</li>
    </ul>
</div>

{% endblock %}