{% extends "base.html" %}
{% block content %}
<h1 class="fade-in">Projects</h1>

<div class="project-grid">

    <div class="card">
        <h3>Flask Portfolio Website</h3>
        <p>Multi-page portfolio website built using Flask, HTML, CSS.</p>
    </div>

    <div class="card">
        <h3>Google Cloud Labs</h3>
        <p>Hands-on cloud projects using GCP tools and deployment services.</p>
    </div>

    <div class="card">
        <h3>Telecommunication Study Project</h3>
        <p>Explored GSM architecture, modulation techniques, and fiber communication.</p>
    </div>

</div>

{% endblock %}